ngx-datatable {
    direction: rtl !important;
    text-align: right !important;
}

.custom-card {
    width: 100% !important;
    margin-bottom: 5px !important;
    padding: 5px 10px 5px 5px !important;
}

.number-circle {
    font-size: 20px;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    padding-top: 5px;
}