<div class="row">
  <div class="col-md-2">
    <button type="button" class="btn btn-info" [routerLink]="['/kitchens/create']">מטבח חדש</button>
  </div>
  <div class="col-md-10">
    <input type="text" dir="rtl" class="form-control mb-3" placeholder="Type to filter the title column..." required (keyup)='updateFilter($event)'>
  </div>
</div>
<ngx-datatable
        [headerHeight]="40"
        [footerHeight]="'falsey'"
        [rowHeight]="'auto'"
        [scrollbarH]="true"
        [columnMode]="'force'"
        [rows]="rows">

  <!-- Column Templates -->

  <ngx-datatable-column name="לוגו" [sortable]="false" [maxWidth]="100">
    <ng-template let-row="row" ngx-datatable-cell-template align="center">
      <img [src]="row.picture" height="50" width="50" *ngIf="row.picture !== ''">
      <img src="assets/images/placeholders/logo.png" height="50" width="50" *ngIf="row.picture === ''">
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="שם" [maxWidth]="200">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <strong>{{row.name}}</strong>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="טלפון" [sortable]="false" [maxWidth]="180">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <strong *ngIf="row.phone">{{row.phone}}</strong>
      <strong *ngIf="!row.phone">אין נתונים</strong>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="כתובת" [sortable]="false">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.address}}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="פעולות" [sortable]="false">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <button type="button" *ngIf="row.deleted == 0" class="btn btn-info" [routerLink]="['/kitchens/' + row.id]">הזמנות</button>
      <button type="button" *ngIf="row.deleted == 0" class="btn btn-dark" [routerLink]="['/kitchens/' + row.id + '/categories']">תפריט</button>
      <button type="button" *ngIf="row.deleted == 0" class="btn btn-warning" [routerLink]="['/kitchens/edit', row.id]">ערוך</button>
      <button type="button" *ngIf="row.deleted == 0" class="btn btn-danger" (click)="openDeleteModal(content, row)">הקפיא</button>
      <button type="button" *ngIf="row.deleted == 1" class="btn btn-success" (click)="openReturnModal(return, row)">החזיר</button>
    </ng-template>
  </ngx-datatable-column>

</ngx-datatable>

<ng-template ngbModalContainer></ng-template>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h6 class="modal-title text-uppercase">הקפיא מטבח</h6>
    <button type="button" class="close" aria-label="סגור" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">בטוח שרוצה להקפיא את המטבח?</div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c()">סגור</button>
    <button type="button" class="btn btn-primary" (click)="deleteKitchen()">הקפיא</button>
  </div>
</ng-template>

<ng-template ngbModalContainer></ng-template>
<ng-template #return let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h6 class="modal-title text-uppercase">החזיר מטבח</h6>
    <button type="button" class="close" aria-label="סגור" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">בטוח שרוצה להחזיר את המטבח?</div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c()">סגור</button>
    <button type="button" class="btn btn-primary" (click)="returnKitchen()">החזיר</button>
  </div>
</ng-template>