<ngx-loading [show]="loading" [config]="{}"></ngx-loading>

<div class="main-div">

    <form class="form-horizontal" novalidate [formGroup]="form">

        <div class="row">

            <div class="form-group col-md-6">
                <label class="col-form-label">שם</label>
                <input class="form-control" formControlName="name" type="text">
            </div>

            <div class="form-group col-md-6">
                <label class="col-form-label">מספר טלפון</label>
                <input class="form-control" formControlName="phone" type="text">
            </div>

        </div>

        <div class="row">

            <div class="form-group col-md-6" id="address">
                <label class="col-form-label">כתובת</label>
                <input class="form-control" formControlName="address" type="text">
            </div>

            <div class="form-group col-md-6" id="email">
                <label class="col-form-label">אימייל</label>
                <input class="form-control" formControlName="email" type="email">
            </div>

        </div>

        <div class="row">

            <div class="form-group col-md-6" id="idcard">
                <label class="col-form-label">תעודת זהות</label>
                <input class="form-control" formControlName="idcard" type="number">
            </div>

            <div class="form-group col-md-6">
                <div class="form-check mt-5">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" formControlName="manager">
                        <span class="checkbox-rtl">מנהל</span>
                    </label>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="form-group col-md-6" id="birthday">
                <label class="col-form-label">יום הולדת</label>
                <input class="form-control" formControlName="birthday" type="date">
            </div>

        </div>

        <div class="row company-media">

            <div class="form-group col-md-6">
                <label class="col-form-label">בחר תמונה</label>
                <input class="wide-input" name="logo" (change)="onFileChange($event, 'logo')" type="file" accept="image/*">
            </div>

            <div class="form-group col-md-6">
                <img [src]="logo.path" *ngIf="logo.path">
            </div>

        </div>

        <div class="row m-2">תיאור</div>

        <div class="card">

            <div class="toolbar" id="toolbar-toolbar" dir="rtl" align="right">
                <span class="ql-formats">
                  <select class="ql-font">
                    <option selected=""></option>
                    <option value="serif"></option>
                    <option value="monospace"></option>
                  </select>
                  <select class="ql-size">
                    <option value="small"></option>
                    <option selected=""></option>
                    <option value="large"></option>
                    <option value="huge"></option>
                  </select>
                </span>
                <span class="ql-formats">
                  <button class="ql-bold"></button>
                  <button class="ql-italic"></button>
                  <button class="ql-underline"></button>
                  <button class="ql-strike"></button>
                </span>
                <span class="ql-formats">
                  <select class="ql-color"></select>
                  <select class="ql-background"></select>
                </span>
                <span class="ql-formats">
                  <button class="ql-list" value="ordered"></button>
                  <button class="ql-list" value="bullet"></button>
                  <select class="ql-align">
                    <option selected=""></option>
                    <option value="center"></option>
                    <option value="right"></option>
                    <option value="justify"></option>
                  </select>
                </span>
                <span class="ql-formats">
                  <button class="ql-link"></button>
                  <button class="ql-image"></button>
                </span>
            </div>
            <div id="editor-container" dir="rtl" align="right"></div>

        </div>

        <div class="form-group col-md-6" style="text-align: left !important;">
            <button type="submit" (click)="onSubmit()" class="btn btn-primary" [disabled]="form.invalid">שלח</button>
        </div>

    </form>

    <div class="row" *ngIf="errors.length > 0">
        <div class="alert alert-warning" role="alert" *ngFor="let item of errors">{{item.message}}</div>
    </div>

</div>







