<ngx-loading [show]="loading" [config]="{}"></ngx-loading>

<div class="main-div">

    <form class="form-horizontal" novalidate [formGroup]="form">

        <div class="row">

            <div class="form-group col-md-6">
                <label class="col-form-label">שם המנה</label>
                <input class="form-control" formControlName="name" type="text">
            </div>

            <div class="form-group col-md-6">
                <label class="col-form-label">ימים בתפריט</label>
                <div>
                    <angular2-multiselect [data]="days"
                                          formControlName="days"
                                          [settings]="dropdownSettingsDays">
                    </angular2-multiselect>
                </div>
            </div>

        </div>

        <div class="row company-media">

            <div class="form-group col-md-6">
                <label class="col-form-label">בחר תמונה</label>
                <input class="wide-input" name="logo" (change)="onFileChange($event, 'logo')" type="file" accept="image/*">
            </div>

            <div class="form-group col-md-6">
                <img [src]="logo.path" *ngIf="logo.path">
            </div>

        </div>

        <div class="row m-2">תיאור</div>

        <div class="row">

            <div class="form-group col-md-12">
                <textarea placeholder="תיאור" formControlName="description" style="width: 100%;"></textarea>
            </div>

        </div>

        <div class="form-group col-md-6" style="text-align: left !important;">
            <button type="submit" (click)="onSubmit()" class="btn btn-primary" [disabled]="form.invalid">שלח</button>
        </div>

    </form>

    <div class="row" *ngIf="errors.length > 0">
        <div class="alert alert-warning" role="alert" *ngFor="let item of errors">{{item.message}}</div>
    </div>

</div>







